<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Double Linked List/src/LinkedList/DoubleLinkedSeqMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="LinkedList.DoubleLinkedSeqMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Double Linked List"/>
</launchConfiguration>
